on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@1.90.0

      - uses: Swatinem/rust-cache@v2

      - run: |
          sudo apt-get update
          sudo apt-get install -y \
            libx11-dev \
            libxi-dev \
            libgl1-mesa-dev \
            libasound2-dev \
            libxcb-render0-dev \
            libxcb-shape0-dev \
            libxcb-xfixes0-dev \
            libxkbcommon-dev \
            libssl-dev \
            libgtk-3-dev

      - run: cargo test # --all-features (some are incompatible due to cross-platform support)

      - run: cargo build

  lint:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@1.90.0
        with:
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2

      - run: |
          cargo fmt -- --check
          cargo check --all-targets
          cargo clippy --all-targets -- -D warnings
